.sobrenos {
    width: 100%;
    height: 100%;
    margin-top: 75px;
    text-align: center;
    background-color: #690505;
    border-radius: 8px;
    padding-block: 20px;
}

.introducao {
    display: flex;
    gap: 20px;
    padding-block: 30px;
}

.imagemPastel {
    width: 100%;
    height: 200px;
    border-radius: 8px;
    margin-right: 10px;
}

.textoP {
    text-align: justify;
    text-align: justify;
    padding-inline: 10px;
}

hr {
    margin-block: 30px;
}

@media (max-width: 1100px) {
    .introducao {
        display: flex;
        flex-direction: column;
    }

    .imagemPastel {
        width: 100%;
        padding-inline: 10px;
    }
}