.container {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #fff;
    text-align: center;
    gap: 15px;
    padding-bottom: 30px;
    margin: auto;
}