.container {
    width: 80%;
    min-height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 30px;
    overflow: hidden;
    margin: 0 auto;
}

@media (max-width: 1400px) {
    .container {
        width: 100%;
    }
}