.sobrenos {
    width: 70%;
    height: 100%;
    padding-block: 50px;
    background-color: #00000080;
    padding-inline: 15px;
    border-radius: 10px;
    margin: 100px auto 0px;
}

.texto {
    display: flex;
    gap: 20px;
    padding-block: 30px 20px;
}

.sobrenos img {
    width: 50%;
}

.primaryText {
    color: orange;
    text-align: justify;
}

hr {
    margin-block: 30px;

}

h1 {
    margin-bottom: 15px;
    text-align: center;
}

.contato {
    width: 100%;
    display: flex;
    text-align: left;
    font-size: 1.2rem;
    gap: 20px;
    padding-block: 10px;
    padding-inline: 100px;
}

.hrContato {
    height: 90px;
    margin: 5px auto 0px;
}

@media (max-width: 1200px) {

    .texto {
        display: flex;
        flex-direction: column;
    }

    .sobrenos img {
        width: 100%;
    }

    .contato {
        text-align: left;
        font-size: 1rem;
        gap: 20px;
        padding-inline: 40px;
    }

    .hrContato {
        height: 70px;
        margin-top: 0px; 
    }
}