.category {
    text-align: center;
}

.category h1 {
    font-size: 2rem;
    border: 1px solid #FFD600;
    border-radius: 8px;
    padding: 15px;
    background-color: #00000030;
    margin-bottom: 0px;
}

.category div {
    height: 500px;
    border: 1px solid #FFD600;
    border-radius: 8px;
    padding: 15px;
    background-color: #00000030;
}