.category {
    text-align: center;
    margin-top: 15px;
}

.category h1 {
    font-size: 2rem;
    border: 1px solid #FFD600;
    border-radius: 8px;
    padding: 15px;
    background-color: #00000030;
    margin-bottom: 0px;
}

.category div {
    height: 500px;
    border: 1px solid #FFD600;
    border-radius: 8px;
    padding: 15px;
    background-color: #00000030;
}

.category:hover {
    transform: scale(1.04);
}

@media (max-width: 760px) {
    .category {
        width: 85%;
    }

    .category div {
        height: 650px;
    }
}

@media (max-width: 390px) {
    .category {
        width: 85%;
        margin-top: 20px;
    }
}