.cardapio {
    width: 500px;
}

.cardapio span {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.cardapio p {
    text-align: left;
    margin-top: -15px;
    margin-bottom: -5px;
    font-size: 0.9rem;
}