.header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    background-color: #FFD600;
    position: fixed;
    top: 0;
    z-index: 99999;
    padding-inline: 50px;
}

.logotipo {
    width: 70px;
    height: 100%;
    margin-top: 3px;
}

.titulo {
    font-size: 2.5rem;
    text-decoration: none;
    font-weight: 700;
    color: #A51211;
    margin-left: 2rem;
}

nav {
    display: flex;
    gap: 25px;
    position: absolute;
    right: 50px;

}

.navMenu a {
    display: flex;
    color: #FFFFFF;
    background-color: #A51211;
    font-size: 1.125rem;
    font-weight: 600;
    text-decoration: none;
    padding-inline: 2rem;
    border-radius: 7px;
    box-shadow: 4px 6px rgba(0, 0, 0, 0.5);
    padding-block: 5px;
}

.menuButton {
    display: none;
}

.navMenu a:hover {
    padding: 8px 40px;
    transition: .8s;
}

@media (max-width: 768px) {
    .logotipo {
        display: none;
    }
    
    .navMenu {
        display: none;
    }

    .navMenu a {
        width: 150px;

    }

    .show {
        display: flex;
        flex-direction: column;
        width: 40%;
        height: 130px;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #FFD600;
        border-radius: 0 0 0 10px ;
        gap: 20px;
        padding: 25px 20px;
    }
    
    .menuButton {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 20px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .linha {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #A51211;
        margin-right: 30px;
    }
}

@media (max-width: 390px) {
    .titulo {
        display: none;
    }

    .navMenu a {
        width: 230px;
        align-items: center;
    }

    .show {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 130px;
        background-color: #FFD600;
        border-radius: 0 0 0 0 ;
        gap: 20px;
        padding-top: 25px;
        margin-top: 10px;
    }
}