body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #A51211;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 2.5rem;
}

h4 {
  margin-top: -30px;
}

.cardapio {
  width: 500px;
  border: 1px solid #FFD600;
  border-radius: 10px;
  padding: 0 10px 40px;
  margin-bottom: 30px;
}

.cardapio h1 {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
}