.banner {
    width: 80%;
    height: 345px;
    background-image: url('/public/images/banner11.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 85px auto 0px;
}